* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #baa49c;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  margin-top: 100px;
  width: 800px;
  height: 600px;
  background-color: white;
  box-shadow: 0px 0px 28px 0px gray;
  overflow: hidden; /*!*/
  position: relative;
}

.box {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden; /*!*/
  background-color: #735ad8;
}

/*Start box*/
.title {
  margin: auto;
  height: 40px;
  width: 300px;
  text-align: center;
  background-color: #ecd45a;
}

h1.title {
  margin-top: 35px;
  font-size: 35px;
}

h2.title {
  margin-bottom: 35px;
  font-size: 25px;
}

p {
  width: 700px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.pig-place {
  width: 150px;
  height: 150px;
  margin: 30px auto;
  background-color: #fdcfd7;
  color: #403838;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px gray;
}

img { /*pig picture*/
  width: 100%;
  height: 100%;
}


/*Names box*/
#names {
  display: none;
}

#names h1.title {
  width: 450px;
  margin-top: 80px;
  margin-bottom: 45px;
  background-color: #ea758a;
  padding-bottom: 48px;
}

label {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}

input {
  display: block;
  width: 200px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #eceaea;
}

.error-message {
  display: block;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
  color: #735ad8;
}

.error-color {
  color: #b70000;
}

#names button {
  background-color: #ecd45a;
}

/*Game box*/
#game {
  display: none;
}

.player-0-panel, .player-1-panel {
  width: 50%;
  height: 100%;
  float: left;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
}

.player-name {
  font-size: 34px;
  text-transform: uppercase;
}

.active {
  background-color: #ecd45a;
}

.player-global-score {
  font-size: 60px;
  padding-top: 10px;
  margin-bottom: 90px;
}

.player-current-box {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: #ea758a;
  color: white;
  overflow: hidden; /*!*/
}

.player-current-label {
  height: 40px;
  font-size: 16px;
  padding-top: 10px;
  margin-top: 10px;
}

.player-current-score {
  font-size: 24px;
}

button:hover {
  font-weight: bold;
}

button {
  width: 134px;
  height: 60px;
  font-size: 18px;
  background-color: white;
  color: #403838;
  position: absolute;
  left: 333px;
  box-shadow: 0px 0px 5px 0px gray;
}

#game button.roll {
  top: 410px;
}

#game button.hold {
  top: 490px;
}

img.dice {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 195px;
    left: 355px;
    box-shadow: 0px 0px 5px 0px gray;
}


/*End box*/
#end {
  display: none;
}

h1.winner-introduce {
  margin-top: 150px;
  padding-bottom: 48px;
  background-color: #ea758a;
}

h1.winner-name {
  margin-top: 50px;
  margin-bottom: 80px;
  text-transform: uppercase;
  background-color: #735ad8;
}

h1.effect1 {
  transform: rotate(2deg);
  color: #dcc23c;
}

h1.effect2 {
  transform: rotate(-2deg);
  color: #ecd45a;
}
