* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #baa49c;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  margin-top: 100px;
  width: 800px;
  height: 600px;
  background-color: white;
  box-shadow: 0px 0px 28px 0px gray;
  overflow: hidden; /*!*/
  position: relative;
}

.box {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden; /*!*/
  background-color: #735ad8;
}

/*Start box*/
.title {
  margin: auto;
  height: 40px;
  width: 300px;
  text-align: center;
  background-color: #dcc23c;
}

h1.title {
  margin-top: 35px;
  font-size: 35px;
}

h2.title {
  margin-bottom: 35px;
  font-size: 25px;
}

p {
  width: 700px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.pig-place {
  width: 150px;
  height: 150px;
  margin: 30px auto;
  overflow: hidden; /*!*/
  position: relative;
  cursor: pointer;
}

/*Pig picture*/
.pig-body {
  width: 120px;
  height: 120px;
  border: 3px solid #403838;
  background-color: #ffa8b8;
  border-radius: 100%;
  position: absolute;
  top: 22px;
  left: 14px;
}

.pig-head {
  width: 100px;
  height: 100px;
  border: 3px solid #403838;
  background-color: #ffa8b8;
  border-radius: 100%;
  position: absolute;
  top: 5px;
  left: 23px;
  z-index: 1;
}

div[class*="pig-ear"] {
  width: 37px;
  height: 33px;
  border: 3px solid #403838;
  background-color: #ffa8b8;
  display: inline-block;
  position: absolute;
  z-index: 0;
}

.pig-ear1 {
  border-radius: 15% 65%;
  left: 27px;
  transform: rotate(-20deg);
}

.pig-ear2 {
  border-radius: 65% 15%;
  left: 80px;
  transform: rotate(20deg);
}

.ear-up {
  transform: rotate(0deg);
}

div[class*="pig-eye"] {
  width: 17px;
  height: 20px;
  border: 3px solid #403838;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  top: 33px;
  z-index: 1;
}

.pig-eye1 {
  left: 50px;
}

.pig-eye2 {
  left: 77px;
}

div[class*="dot"] {
  width: 13px;
  height: 10px;
  border: 3px solid #403838;
  background-color: #403838;
  position: absolute;
  top: 41px;
  z-index: 1;
}

.pig-eye1-dot {
  left: 52px;
}

.pig-eye2-dot {
  left: 79px;
}

div.eye-dot-up {
  top: 38px;
}

.pig-nose {
  width: 40px;
  height: 30px;
  border: 3px solid #403838;
  border-radius: 50%;
  background-color: #fdcfd7;
  position: absolute;
  top: 56px;
  left: 52px;
  z-index: 1;
}

div[class*="nose-dot"] {
  height: 13px;
  width: 8px;
  border-radius: 100%;
  top: 64px;
}

.pig-nose-dot1 {
  left: 60px;
}

.pig-nose-dot2 {
  left: 76px;
}

div[class*="pig-foot"] {
  width: 23px;
  height: 23px;
  border: 3px solid #403838;
  background-color: #403838;
  display: inline-block;
  position: absolute;
  top: 123px;
  z-index: 1;
}

.pig-foot-left1, .pig-foot-right1 {
  border-radius: 75% 15%;
  transform: rotate(-20deg);
}

.pig-foot-left2, .pig-foot-right2 {
  border-radius: 15% 75%;
  transform: rotate(20deg);
}

.pig-foot-left1 {
  left: 40px;
}

.pig-foot-left2 {
  left: 50px;
}

.pig-foot-right1 {
  left: 74px;
}

.pig-foot-right2 {
  left: 83px;
}

.pig-tail {
  position: absolute;
  top: 80px;
  left: 129px;
  color: #403838;
  transform: rotate(247deg);
  font-size: 23px;
  font-weight: normal;
  font-family: Arial, sans-serif;
}

.tail-down {
  transform: rotate(266deg);
}

/*Names box*/
#names {
  display: none;
}

#names h1.title {
  width: 450px;
  margin-top: 80px;
  margin-bottom: 45px;
  background-color: #ea758a;
  padding-bottom: 48px;
}

label {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}

input {
  display: block;
  width: 200px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #eceaea;
}

.error-message {
  display: block;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
  color: #735ad8;
}

.error-color {
  color: #b70000;
}

#names button {
  background-color: #dcc23c;
}

/*Game box*/
#game {
  display: none;
}

.player-0-panel, .player-1-panel {
  width: 50%;
  height: 100%;
  float: left;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
}

.player-name {
  font-size: 34px;
  text-transform: uppercase;
}

.active {
  background-color: #dcc23c;
}

.player-global-score {
  font-size: 60px;
  padding-top: 10px;
  margin-bottom: 90px;
}

.player-current-box {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: #ea758a;
  color: white;
  overflow: hidden; /*!*/
}

.player-current-label {
  height: 40px;
  font-size: 16px;
  padding-top: 10px;
  margin-top: 10px;
}

.player-current-score {
  font-size: 24px;
}

button:hover {
  font-weight: bold;
  cursor: pointer;
}

button {
  width: 134px;
  height: 60px;
  font-size: 18px;
  background-color: white;
  color: #403838;
  position: absolute;
  left: 333px;
  box-shadow: 0px 0px 5px 0px gray;
}

#game button.roll {
  top: 410px;
}

#game button.hold {
  top: 490px;
}

img.dice {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 195px;
    left: 355px;
    box-shadow: 0px 0px 5px 0px gray;
}


/*End box*/
#end {
  display: none;
}

h1.winner-introduce {
  margin-top: 150px;
  padding-bottom: 48px;
  background-color: #ea758a;
}

h1.winner-name {
  margin-top: 50px;
  margin-bottom: 80px;
  text-transform: uppercase;
  background-color: #735ad8;
}

h1.effect1 {
  transform: rotate(2deg);
  color: #dcc23c;
}

h1.effect2 {
  transform: rotate(-2deg);
  color: #ecd45a;
}
